<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.freakdeveloper.kep">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.AjustesActivity" />
        <activity android:name=".views.FaqsActivity" />
        <activity android:name=".views.IniciaSesionActivity" />
        <activity android:name=".views.PrincipalActivity" />
        <activity android:name=".views.PreguntasActivity" />
        <activity android:name=".views.RankingActivity" />
        <activity android:name=".views.RecuperarContraActivity" />
        <activity android:name=".views.RegistrarFaqsActivity" />
        <activity android:name=".views.RegistroActivity" />
        <activity android:name=".views.RegistroCarreraActivity" />
        <activity android:name=".views.RegistroPreguntaActivity" />
        <activity
            android:name=".views.NavigationDrawerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".views.DudaActivity"></activity>
    </application>

</manifest>